.container {
  max-width: 1300px;
  margin: 32px auto 48px;
  padding: 0 20px;
  position: relative;
}

.section h2 {
  font-size: 1.3rem;
  background-color: gray;
}

td,
th,
tr {
  font-size: initial;
  font-size: 1.2rem;
  height: fit-content;
}

.cell-letter {
  font-weight: 700;
  font-size: 1rem;
  text-align: left;
  margin: 0;
  display: inline-block;
}

.qty-balance-grid-3col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  height: 100%;
  gap: 0;
}

.grid-cell-number{
  padding: 0;
  height: 52px;
  font-size: 2.3rem;
}

.grid-cell-number:last-child {
  border-right: none;
}

.signature-block {
  border: 2px solid var(--text);
  border-radius: 0 0 6px 6px;
  margin-top: -1px;
}

@media print {
  @page {
    size: letter landscape;
    margin: 0.2in;
  }
}
